body {
  height: 50vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
h1 {
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
}
.main {
  text-align: center;
}
.box-1,
.box-2 {
  padding: 20px;
  height: 5rem;
}

input {
  border: 5px solid #28b487;
  text-align: center;
  height: 2rem;
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
}
